<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Mapbox</title>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
		<link rel="stylesheet" href="../static/style.css">
		<style>
			body {margin:0; padding:0;}
			#map {position:absolute; top:0; bottom:0; width:100%;}
		</style>
		<script src="../static/index.js"></script>
	</head>
	<body>
        <div id="userinput">
            <div class="myinput">
                <label for="featuresinput">Where to explore:</label>
                <input id="featuresinput" list="features">
                <datalist id="features">
                    <option> Drinking Fountains </option>
                    <option> Dog Off Leash Areas </option>
                    <option> Hospitals </option>
                    <option> Public Restrooms </option>
                    <option> View Points </option>
                </datalist>
            </div>
            <div class="myinput">
                <label for="timeinput">Time limit:</label>
                <input id="timeinput" type="number" placeholder="10">
            </div>
            <button id="search">
                Get walkshed
            </button>
        </div>

		<nav id="menu">	</nav>
		<div id='map'></div>
		<script type="text/javascript" src="../static/index.js"></script>
	</body>
</html>
